In [ ]:
!pip install selenium

# Q--1

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
#connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
#open the page in chromebrowser
driver.get('https://www.naukri.com/')

In [ ]:
#entering designation and loaction as required in the question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
#scraping job title from given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location  from given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping company name from given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping job experience from given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [ ]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

In [ ]:
#creating a dataframe from above data
df=pd.DataFrame({'JOB_TITLE':job_title,'JOB_LOCATION':job_location,'COMPANY_NAME':company_name,'EXPERIENCE_REQUIRED':experience_required})

In [ ]:
df

# Q-2

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title=[]
job_location=[]
company_name=[]

In [ ]:
#scraping job title from page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [ ]:
#scraping job location from page
job_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in job_tags:
    job=i.text
    job_location.append(job)

In [ ]:
#scraping company name from web page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [ ]:
df=pd.DataFrame({'JOB_TITLE':job_title[:10],'JOB_LOCATION':job_location[:10],'COMPANY_NAME':company_name[:10]})

In [ ]:
df

# Q--3

In [68]:
#import libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [85]:
#connect to the webdriver
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [86]:
driver.get('https://www.naukri.com/')

In [87]:
#entering designation as required in question
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [88]:
#click on search button to open designation
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [89]:
#APPLYING LOCATION FILTER
location_filter=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[3]")
for i in location_filter:
    i.click()

In [90]:
#APPLYING salary filter
salary_filter=driver.find_elements(By.XPATH,"/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]")
for i in salary_filter:
    i.click()

In [91]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]
salary_offered=[]

In [92]:
#scrapping job title from given page
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

#scraping job location
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company Name
compnay_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in compnay_tag[:10]:
    company=i.text
    company_name.append(company)
    
#Scrapping Experience Required
experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[:10]:
    experience=i.text
    experience_required.append(experience)
    
    
#scrap to salary is not given in question but i scrap salary for self practice
salary_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tag[:10]:
    salary=i.text
    salary_offered.append(salary)

In [82]:
#scrapping job title from given page
title_tag=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tag[0:10]:
    title=i.text
    job_title.append(title)

#scraping job location
location_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tag[0:10]:
    location=i.text
    job_location.append(location)
    
#Scraping Company Name
compnay_tag=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in compnay_tag[:10]:
    company=i.text
    company_name.append(company)
    
#Scrapping Experience Required
experience_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tag[:10]:
    experience=i.text
    experience_required.append(experience)
    
    
#scrap to salary is not given in question but i scrap salary for self practice
salary_tag=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi salary"]')
for i in salary_tag[:10]:
    salary=i.text
    salary_offered.append(salary)

In [93]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),len(salary_offered))

10 10 10 10 10

In [94]:
df=pd.DataFrame({'JOB_TITLE':job_title,'Job_LOCATION':job_location,'COMPANY_NAME':company_name,'EXPERIENCE_REQUIRED':experience_required,'SALARY_OFFERED':salary_offered})
df

,JOB_TITLE,Job_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED,SALARY_OFFERED
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs,"3,00,000 - 4,50,000 PA."
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs,Not disclosed
2,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs,Not disclosed
3,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs,"5,00,000 - 12,00,000 PA."
4,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs,Not disclosed
5,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs,Not disclosed
6,Data Scientist,Gurgaon/Gurugram,Feedback Infra,2-4 Yrs,"5,00,000 - 8,00,000 PA."
7,Data Scientist,Noida,4i Odc,2-4 Yrs,"4,00,000 - 9,00,000 PA."
8,"Data Scientist, Associate",Delhi / NCR,NatWest Group,2-7 Yrs,Not disclosed
9,Jr. Data Scientist,Noida,Dataflow,2-5 Yrs,"5,00,000 - 10,00,000 PA."

# Q--4

In [95]:
import pandas as pd
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [96]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [97]:
driver.get('https://www.flipkart.com/')

In [98]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('sunglasses')

In [99]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [100]:
brand=[]
description=[]
price=[]

In [101]:
start=0
end=3
for page in range(start,end):
    
    product_brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_brand:
        brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [102]:
start=0
end=3
for page in range(start,end):
    
    product_description=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_description:
        description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [103]:
start=0
end=3
for page in range(start,end):
    price_product=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_product:
        price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [104]:
print(len(brand),len(description),len(price))

120 120 120

In [105]:
df=pd.DataFrame({'SUNGALSSES_BRAND':brand[:100],'DESCRIPTION':description[:100],'Price ':price[:100]})
df

   SUNGALSSES_BRAND                                        DESCRIPTION  Price
0            PIRASO  UV Protection, Gradient Butterfly, Shield Sung...    ₹799
1            PIRASO  UV Protection, Gradient Retro Square Sunglasse...    ₹449
2          Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹415
3    ROZZETTA CRAFT        Mirrored Rectangular Sunglasses (Free Size)    ₹319
4            AISLIN  Polarized, UV Protection Sports Sunglasses (Fr...    ₹383
..              ...                                                ...     ...
95         Fastrack  Gradient, Toughened Glass Lens, UV Protection ...  ₹1,169
96        ROYAL SON      UV Protection Wayfarer Sunglasses (Free Size)    ₹559
97         Fastrack  UV Protection, Gradient Butterfly, Over-sized ...    ₹719
98    VINCENT CHASE         UV Protection Retro Square Sunglasses (53)    ₹901
99           AISLIN   UV Protection Rectangular Sunglasses (Free Size)    ₹448

[100 rows x 3 columns]

## Q.-5

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [7]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('i phone 11')

In [8]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [9]:
open_ratings=driver.find_element(By.CLASS_NAME,'_3LWZlK')
open_ratings.click()

In [10]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=i+phone11&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=ec909efa-2b89-4d3f-882d-154b7e3b2906.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=eh282kdk5s0000001663013751612&qH=f63aed1f59c8daf5')

In [11]:
more_review=driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]')
more_review.click()

In [16]:
rating=[]
full_review=[]
reviews_summary=[]

In [22]:
start=0
end=10
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        rating.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)
    
start=0
end=10
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        full_review.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [19]:

start=0
end=10
for page in range(start,end):
    summaries=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in summaries:
        reviews_summary.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(11)

In [23]:
print(len(rating),len(full_review),len(reviews_summary))

100 100 101

In [26]:
df=pd.DataFrame({'RATING':rating,'FULL_REVIEW':full_review,'REVIEW_SUMMARY':reviews_summary[:100]})
df

,RATING,FULL_REVIEW,REVIEW_SUMMARY
0,5,Simply awesome,4.6★
1,5,Perfect product!,Really satisfied with the Product I received.....
2,5,Best in the market!,Amazing phone with great cameras and better ba...
3,5,Highly recommended,Great iPhone very snappy experience as apple k...
4,5,Worth every penny,What a camera .....just awesome ..you can feel...
...,...,...,...
95,5,Worth every penny,It is just awesome mobile for this price from ...
96,5,Highly recommended,"Smooth like butter, camera like fantabulous, s..."
97,5,Perfect product!,"Amazing camera quality as expected, battery al..."
98,5,Terrific,Iphone is just awesome.. battery backup is ver...
99,5,Wonderful,Really worth of money. i just love it. It is t...

# Q.6

In [27]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [28]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [29]:
driver.get('https://www.flipkart.com/')

In [30]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
product.send_keys('sneakers')

In [31]:
search=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search.click()

In [32]:
Brand=[]
Product_Description=[]
Price=[]

In [33]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        Brand.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [34]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        Product_Description.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [35]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in price:
        Price.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(4)

In [36]:
df=pd.DataFrame({'BRAND':Brand[:100],'PRODUCT_DESCRIPTION':Product_Description[:100],'PRICE':Price[:100]})
df

,BRAND,PRODUCT_DESCRIPTION,PRICE
0,BRUTON,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
1,BRUTON,Sneakers For Men,2 Combo Sneaker Shoes Sneakers For Men
2,Labbin,Sneakers For Men,Sneakers For Men
3,TR,Stylish & Trending Outdoor Walking Comfortable...,Sneakers For Men
4,Layasa,Comfortable & Ultra Light Weight Sneaker Sneak...,supr Sneakers For Men
...,...,...,...
95,PUMA,Original Luxury Branded Fashionable Men's Casu...,Sneakers For Men
96,Deals4you,Sneakers For Men,"Casual , Partywear Sneakers Shoes For Men's An..."
97,Layasa,Sneakers For Men,Defy Wn's Sneakers For Women
98,Robbie jones,Sneakers For Men,Series 7 Sneakers For Men
99,PUMA,Sneakers For Men,Modern Trendy Sneakers boot Sneakers For Men

# Q.7

In [63]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [64]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [65]:
driver.get('https://www.myntra.com/shoes')

In [71]:
#APPLYING PRICE FILTER
price_filter=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
for i in price_filter:
    i.click()

In [73]:
#APPLYING COLOUR FILTER
color_filter=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
for i in color_filter:
    i.click()

In [89]:
Brand=[]
Product_Description=[]
Price=[]

In [90]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand:
        Brand.append(i.text)

start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product:
        Product_Description.append(i.text)

start=0
end=4
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//span[@class="product-discountedPrice"]')
    for i in price:
        Price.append(i.text)

In [92]:
df=pd.DataFrame({'BRAND':Brand[:100],'PRODUCT_DESCRIPTION':Product_Description[:100],'PRICE':Price[:100]})
df

               BRAND             PRODUCT_DESCRIPTION      PRICE
0               Nike  Men ZOOM WINFLO8 Running Shoes   Rs. 7880
1           Skechers                Men Sports Shoes   Rs. 9349
2   ADIDAS Originals        Men Niteball II Sneakers  Rs. 13295
3               Nike    Men React Infinity 3 Running  Rs. 10799
4   ADIDAS Originals   Men Leather Niteball Sneakers   Rs. 8450
..               ...                             ...        ...
95  ADIDAS Originals        Men Retropy F90 Sneakers  Rs. 13295
96    Tommy Hilfiger            Men Leather Sneakers  Rs. 10799
97            ADIDAS   Men 4DFWD_Pulse Running Shoes   Rs. 8450
98    Tommy Hilfiger              Men Solid Sneakers   Rs. 7999
99    Tommy Hilfiger            Men Leather Sneakers  Rs. 10199

[100 rows x 3 columns]

# Q.8

In [93]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [94]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [95]:
driver.get('https://www.amazon.in/')

In [96]:
search_field=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_field.send_keys('Laptop')

In [97]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [98]:
#Applying filter
cpu=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[5]/li[11]/span/a/span')
for i in cpu:
    i.click()

In [99]:
title=[]
rating=[]
price=[]

In [100]:
titles=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in titles:
    title.append(i.text)

In [101]:
ratings=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')
for i in ratings:
    rating.append(i.text)

In [102]:
prices=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prices:
    price.append(i.text)

In [103]:
df=pd.DataFrame({'TITLE':title[:10],'RATING':rating[:10],'PRICE':price[:10]})
df

                                               TITLE RATING   PRICE
0  Dell Vostro 3400 Intel i3-1115G4 14 inches FHD...      3  41,950
1  Dell New Vostro 3510 Laptop, Intel I3-1005G1, ...     93  42,690
2  Redmi Book 15 Intel Core I3 11Th Gen/8 Gb/256 ...    286  29,990
3  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...    188  28,990
4  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...     72  31,990
5  Lenovo IdeaPad 3 11th Gen Intel Core i3 15.6" ...    442  37,390
6  Acer Extensa 15 Lightweight Laptop 11th Gen In...     39  33,319
7  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...    259  38,802
8  Lenovo IdeaPad Slim 3 Intel Core i3 11th Gen 1...    253  36,990
9  HP 15s, 11th Gen Intel Core i3, 8GB RAM/512GB ...    233  42,999

# Q.9

In [102]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [103]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [104]:
driver.get('https://www.ambitionbox.com/')

In [105]:
job=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]')
job.click()

In [106]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
designation.send_keys('Data Scientist')

In [108]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')
search.click()

In [109]:
location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')
location.click()

In [110]:
searches=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
searches.send_keys('Noida')

In [111]:
select=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [112]:
company_name=[]
job_posted=[]
rating=[]

In [113]:
company=driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in company:
    company_name.append(i.text)

In [114]:
job=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in job:
    job_posted.append(i.text)

In [115]:
ratings=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in ratings:
    rating.append(i.text)

In [116]:
rating

['4.1', '4.3', '3.8', '4.0', '4.0', '4.0', '4.3', '4.3', '3.8', '3.8']

In [117]:
print(len(company_name),len(job_posted),len(rating))

10 20 10

In [118]:
job_posted=job_posted[0:20:2]

In [119]:
df=pd.DataFrame({'COMPANY_NAME':company_name,'JOB_POSTED':job_posted,'RATING':rating})
df

                                        COMPANY_NAME JOB_POSTED RATING
0                                   Quality Engineer     7d ago    4.1
1                        Data Scientist- SAS Analyst     5d ago    4.3
2                EY GDS - Data Scientist (10-20 yrs)     7d ago    3.8
3                                     Data Scientist     5d ago    4.0
4  Hiring For Genpact-Data Scientist- Forecasting...    27d ago    4.0
5  Genpact - Data Scientist - Forecasting/Python/...    29d ago    4.0
6                                     Data Scientist   1mon ago    4.3
7  Data Scientist - Machine Learning Algorithms (...    12d ago    4.3
8                                     Data Scientist    20d ago    3.8
9  EY - Data Engineer - Data Integration/Modeling...   1mon ago    3.8

# Q.10

In [120]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [121]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [122]:
driver.get('https://www.ambitionbox.com/')

In [124]:
select_salary=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]')
select_salary.click()

In [125]:
browse=driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div')
browse.click()

In [126]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')
designation.click()

In [127]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
search.click()

In [128]:
company=[]
companies=driver.find_elements(By.XPATH,'//div[@class="company-info"]/a')
for i in companies:
    company.append(i.text)

In [129]:
company

['Walmart\nData Scientist Salary',
 'Ab Inbev\nData Scientist Salary',
 'Optum\nData Scientist Salary',
 'ZS\nData Scientist Salary',
 'Fractal Analytics\nData Scientist Salary',
 'Tiger Analytics\nData Scientist Salary',
 'Sigmoid Analytics\nData Scientist Salary',
 'Legato Health Technologies\nData Scientist Salary',
 'HSBC\nData Scientist Salary',
 'Tredence\nData Scientist Salary']

In [130]:
salary=[]
salaries=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in salaries:
    salary.append(i.text)

In [131]:
salary

['(based on 23 salaries)',
 '(based on 57 salaries)',
 '(based on 49 salaries)',
 '(based on 34 salaries)',
 '(based on 115 salaries)',
 '(based on 68 salaries)',
 '(based on 10 salaries)',
 '(based on 11 salaries)',
 '(based on 10 salaries)',
 '(based on 14 salaries)']

In [132]:
avg_salary=[]
a=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in a:
    avg_salary.append(i.text)

In [133]:
avg_salary

['₹ 32.3L',
 '₹ 19.9L',
 '₹ 16.4L',
 '₹ 15.8L',
 '₹ 15.4L',
 '₹ 14.7L',
 '₹ 14.7L',
 '₹ 14.5L',
 '₹ 14.0L',
 '₹ 13.9L']

In [134]:
min_salary=[]
b=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in b:
    min_salary.append(i.text)

In [135]:
min_salary

['₹ 25.0L',
 '₹ 45.0L',
 '₹ 15.0L',
 '₹ 26.0L',
 '₹ 11.0L',
 '₹ 22.6L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 12.7L',
 '₹ 19.7L',
 '₹ 11.0L',
 '₹ 20.0L',
 '₹ 12.0L',
 '₹ 18.0L',
 '₹ 8.8L',
 '₹ 17.5L']

In [136]:
maximum=[]
max_salary=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for i in max_salary:
    maximum.append(i.text)

In [137]:
maximum

['₹ 25.0L',
 '₹ 45.0L',
 '₹ 15.0L',
 '₹ 26.0L',
 '₹ 11.0L',
 '₹ 22.6L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 12.7L',
 '₹ 19.7L',
 '₹ 11.0L',
 '₹ 20.0L',
 '₹ 12.0L',
 '₹ 18.0L',
 '₹ 8.8L',
 '₹ 17.5L']

In [138]:
exp=[]
r=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in r:
    exp.append(i.text.split('\n')[-1].split('(')[0].strip(' '))

In [139]:
exp

['3-4 yrs experience',
 '2-4 yrs experience',
 '2-4 yrs experience',
 '1-2 yrs experience',
 '2-4 yrs experience',
 '2-4 yrs experience',
 '1 yr experience',
 '4 yrs experience',
 '4 yrs experience',
 '3 yrs experience']

In [140]:
print(len(company),len(salary),len(avg_salary),len(min_salary),len(maximum),len(exp))

10 10 10 20 20 10

In [141]:
df=pd.DataFrame({'COMPANY_NAME':company[:10],'TOTAL_SALARY_RECORD':salary[:10],'EXP.REQUIRED':exp[:10],'AVERAGE_SALARY':avg_salary[:10],'MINIMUM_SALARY':min_salary[:10],'MAXIMUM_SALARY':maximum[:10],})
df

,COMPANY_NAME,TOTAL_SALARY_RECORD,EXP.REQUIRED,AVERAGE_SALARY,MINIMUM_SALARY,MAXIMUM_SALARY
0,Walmart\nData Scientist Salary,(based on 23 salaries),3-4 yrs experience,₹ 32.3L,₹ 25.0L,₹ 25.0L
1,Ab Inbev\nData Scientist Salary,(based on 57 salaries),2-4 yrs experience,₹ 19.9L,₹ 45.0L,₹ 45.0L
2,Optum\nData Scientist Salary,(based on 49 salaries),2-4 yrs experience,₹ 16.4L,₹ 15.0L,₹ 15.0L
3,ZS\nData Scientist Salary,(based on 34 salaries),1-2 yrs experience,₹ 15.8L,₹ 26.0L,₹ 26.0L
4,Fractal Analytics\nData Scientist Salary,(based on 115 salaries),2-4 yrs experience,₹ 15.4L,₹ 11.0L,₹ 11.0L
5,Tiger Analytics\nData Scientist Salary,(based on 68 salaries),2-4 yrs experience,₹ 14.7L,₹ 22.6L,₹ 22.6L
6,Sigmoid Analytics\nData Scientist Salary,(based on 10 salaries),1 yr experience,₹ 14.7L,₹ 11.0L,₹ 11.0L
7,Legato Health Technologies\nData Scientist Salary,(based on 11 salaries),4 yrs experience,₹ 14.5L,₹ 22.0L,₹ 22.0L
8,HSBC\nData Scientist Salary,(based on 10 salaries),4 yrs experience,₹ 14.0L,₹ 9.0L,₹ 9.0L
9,Tredence\nData Scientist Salary,(based on 14 salaries),3 yrs experience,₹ 13.9L,₹ 23.0L,₹ 23.0L