   #                                          Web Scrapping

### 1-->python program to display all the header tags from wikipedia.org.

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/Main_Page'
page=requests.get(url)

In [ ]:
page.content

In [3]:
soup=BeautifulSoup(page.content,'html.parser')

In [4]:
header_tag=[]

In [5]:
header=soup.find_all(['h1','h2','h3','h4','h5','h6'])

In [6]:
for i in header:
    header_tag.append(i.name+" "+i.text.strip())

In [7]:
header_tag

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Personal tools',
 'h3 Namespaces',
 'h3 Views',
 'h3 Search',
 'h3 Navigation',
 'h3 Contribute',
 'h3 Tools',
 'h3 Print/export',
 'h3 In other projects',
 'h3 Languages']

### 2--> a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)and make data frame.

In [8]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [9]:
url='https://www.imdb.com/chart/top'
page=requests.get(url)

In [10]:
page

In [ ]:
page.content

In [11]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [12]:
movie_name=[]
rating=[]
year_of_release=[]

In [13]:
movie_data=soup.find_all('td',class_='titleColumn')

In [ ]:
movie_data

In [14]:
for i in movie_data:
    name=i.a.text
    movie_name.append(name)

In [ ]:
movie_name

In [16]:
for i in movie_data:
    released=i.span.text.replace('(','').replace(')','')
    year_of_release.append(released)

In [ ]:
yaer_of_release

In [18]:
movie_rating=soup.find_all('td',class_='ratingColumn imdbRating')

In [ ]:
movie_rating

In [20]:
for i in movie_rating:
    ratings=i.text.replace('\n','')
    rating.append(ratings)

In [ ]:
rating

In [22]:
imdb_top_movie=pd.DataFrame({'Movies Name':movie_name,'Year Of Release':year_of_release,'Imdb Ratings':rating})
imdb_top_movie

                  Movies Name Year Of Release Imdb Ratings
0    The Shawshank Redemption            1994          9.2
1               The Godfather            1972          9.2
2             The Dark Knight            2008          9.0
3       The Godfather Part II            1974          9.0
4                12 Angry Men            1957          8.9
..                        ...             ...          ...
245                  Jai Bhim            2021          8.0
246                   Aladdin            1992          8.0
247                    Gandhi            1982          8.0
248                  The Help            2011          8.0
249            The Iron Giant            1999          8.0

[250 rows x 3 columns]

In [23]:
imdb_top100_movies=imdb_top_movie[:100]

In [24]:
imdb_top100_movies

                          Movies Name Year Of Release Imdb Ratings
0            The Shawshank Redemption            1994          9.2
1                       The Godfather            1972          9.2
2                     The Dark Knight            2008          9.0
3               The Godfather Part II            1974          9.0
4                        12 Angry Men            1957          8.9
..                                ...             ...          ...
95                             Jagten            2012          8.3
96  M - Eine Stadt sucht einen Mörder            1931          8.3
97                 North by Northwest            1959          8.3
98                       Idi i smotri            1985          8.2
99                            Vertigo            1958          8.2

[100 rows x 3 columns]

###  3-->a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [25]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [26]:
url='https://www.imdb.com/india/top-rated-indian-movies/'

In [27]:
page=requests.get(url)

In [28]:
page

In [ ]:
page.content

In [29]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [30]:
movie=[]
rating=[]
year=[]

In [31]:
movie_data=soup.find_all('td',class_='titleColumn')

In [ ]:
movie_data

In [32]:
for i in movie_data:
    movies=i.a.text.replace('\n','')
    movie.append(movies)
    
    release_year=i.span.text.replace('(','').replace(')','')
    year.append(release_year)
    
ratings=soup.find_all('td',class_='ratingColumn imdbRating')
ratings
    
for i in ratings:
        imdb=i.text.replace('\n','')
        rating.append(imdb)

In [33]:
len(rating)

250

In [34]:
len(movie)

250

In [35]:
len(year)

250

In [36]:
imdb=pd.DataFrame({'Movie_Name':movie,'Year_Of_Release':year,'IMDb_Ratings':rating})
Top100_Indian_Movies=imdb[:100]
Top100_Indian_Movies

                     Movie_Name Year_Of_Release IMDb_Ratings
0    Rocketry: The Nambi Effect            2022          8.5
1                    Anbe Sivam            2003          8.4
2                       Golmaal            1979          8.4
3                       Nayakan            1987          8.4
4                      Jai Bhim            2021          8.4
..                          ...             ...          ...
95                       Angoor            1982          8.0
96              Rang De Basanti            2006          8.0
97  Baahubali 2: The Conclusion            2017          8.0
98                       Baasha            1995          8.0
99                    Virumandi            2004          8.0

[100 rows x 3 columns]

### 4-->python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [37]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [38]:
url='https://presidentofindia.nic.in/former-presidents.htm'

In [39]:
page=requests.get(url)

In [40]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [41]:
name=[]
service=[]

In [42]:
scrap_data=soup.find_all('div',class_='presidentListing')

In [ ]:
scrap_data

In [43]:
for i in scrap_data:
    president=i.h3.text.replace('\n','')
    name.append(president)
    
    tennure=i.p.text.replace('Term of Office:','')
    service.append(tennure)

In [46]:
President=pd.DataFrame({'Former Presidents':name,'Term of Office':service})

President

,Former Presidents,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

## 5--> python program to scrape cricket rankings from icc-cricket.com.

### A.)Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [47]:
from bs4 import BeautifulSoup
import pandas
import requests

In [48]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [49]:
page=requests.get(url)

In [ ]:
page.content

In [50]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [51]:
team=soup.find_all('span',class_='u-hide-phablet')

In [ ]:
team

In [52]:
teams=[]

In [53]:
for i in team:
    teams.append(i.text)

In [54]:
team_name=teams[:10]

In [ ]:
team_name

In [56]:
len(team_name)

10

In [57]:
n=soup.find('td',class_='rankings-block__banner--matches')
n.text

'19'

In [58]:
z=soup.find('td',class_='rankings-block__banner--points')
z.text

'2,355'

In [59]:
match=[]

In [60]:
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    match.append(i.text)

In [ ]:
match

In [62]:
matches=match[0:18:2]

In [63]:
matches

['27', '31', '22', '25', '21', '30', '29', '41', '18']

In [64]:
points=match[1:18:2]

In [65]:
points

['3,226',
 '3,447',
 '2,354',
 '2,548',
 '2,111',
 '2,753',
 '2,658',
 '2,902',
 '1,238']

In [79]:
matches.insert(0,n.text)
matches

['19', '27', '31', '22', '25', '21', '30', '29', '41', '18']

In [80]:
len(matches)

10

In [67]:
points.insert(0,z.text)
points

['2,355',
 '3,226',
 '3,447',
 '2,354',
 '2,548',
 '2,111',
 '2,753',
 '2,658',
 '2,902',
 '1,238']

In [68]:
len(points)

10

In [69]:
rate=[]

In [70]:
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rate.append(i.text)

In [71]:
rate=rate[:9]
rate

['119', '111', '107', '102', '101', '92', '92', '71', '69']

In [72]:
r=soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace("\n","")
r

'                            124                            '

In [73]:
rate.insert(0,r)

In [74]:
rate

['                            124                            ',
 '119',
 '111',
 '107',
 '102',
 '101',
 '92',
 '92',
 '71',
 '69']

In [81]:
cricket_data=pd.DataFrame({'TEAM':team_name,'MATCHES':matches,'POINTS':points,'RATING':rate})
cricket_data

,TEAM,MATCHES,POINTS,RATING
0,New Zealand,19,"2,355",124 ...
1,England,27,"3,226",119
2,India,31,"3,447",111
3,Pakistan,22,"2,354",107
4,Australia,25,"2,548",102
5,South Africa,21,"2,111",101
6,Bangladesh,30,"2,753",92
7,Sri Lanka,29,"2,658",92
8,West Indies,41,"2,902",71
9,Afghanistan,18,"1,238",69

### B)-Top 10 ODI Batsmen along with the records of their team and rating

In [82]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [83]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

In [84]:
page=requests.get(url)

In [85]:
page

In [86]:
soup=BeautifulSoup(page.content,'html.parser')

In [ ]:
soup

In [87]:
first=soup.find('div',class_='rankings-block__banner--name-large').text
first

'Babar Azam'

In [88]:
player=[]
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))
player.insert(0,first)
player=player[:10]
player

['Babar Azam',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'David Warner',
 'Jonny Bairstow',
 'Ross Taylor',
 'Aaron Finch']

In [89]:
second=soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
second

'PAK'

In [90]:
team=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    teams=i.text.replace('\n','')
    team.append(teams)
team.insert(0,second)
team=team[:10]
team

['PAK', 'SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

In [91]:
third=soup.find('div',class_='rankings-block__banner--rating').text
third

'890'

In [92]:
rate=[]
for i in soup.find_all('td',class_='table-body__cell rating'):
    rate.append(i.text)
rate.insert(0,third)
rating=rate[:10]
rating

['890', '789', '784', '779', '744', '740', '739', '732', '722', '706']

In [93]:
ODI_BATSMAN=pd.DataFrame({'PLAYER':player,'TEAM':team,'RATING':rating})
ODI_BATSMAN

                  PLAYER TEAM RATING
0             Babar Azam  PAK    890
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Imam-ul-Haq  PAK    779
4            Virat Kohli  IND    744
5           Rohit Sharma  IND    740
6           David Warner  AUS    739
7         Jonny Bairstow  ENG    732
8            Ross Taylor   NZ    722
9            Aaron Finch  AUS    706

### C) TOP 10 ODI bowlers along with the records of their team and rating.

In [94]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [95]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [96]:
page=requests.get(url)

In [97]:
soup=BeautifulSoup(page.content,'html.parser')

In [98]:
first=soup.find('div',class_='rankings-block__banner--name-large').text
player=[]
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))
player.insert(0,first)
player=player[:10]


second=soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
team=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    team.append(i.text.replace('\n',''))
team.insert(0,second)
team=team[:10]



third=soup.find('div',class_='rankings-block__banner--rating').text
rating=[]
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
rating.insert(0,third)
rating=rating[:10]

In [100]:
ODI_TEAMS=pd.DataFrame({'TEAM':team,'PLAYER':player,'RATING':rating})
ODI_TEAMS

  TEAM             PLAYER RATING
0   NZ        Trent Boult    720
1  AUS     Josh Hazlewood    678
2  AFG   Mujeeb Ur Rahman    676
3  IND     Jasprit Bumrah    662
4  PAK     Shaheen Afridi    661
5  AFG      Mohammad Nabi    657
6  BAN       Mehedi Hasan    655
7  AFG        Rashid Khan    651
8   NZ         Matt Henry    644
9  BAN  Mustafizur Rahman    640

## 6-->python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### A)-10 ODI teams in women’s cricket along with the records for matches, points and rating

In [101]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [102]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [103]:
page=requests.get(url)

In [104]:
page

In [105]:
soup=BeautifulSoup(page.content,'html.parser')

In [106]:
team=[]

In [107]:
for i in soup.find_all('span',class_='u-hide-phablet'):
    team.append(i.text)

In [108]:
team=team[:10]
team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [109]:
match=[]

In [110]:
for i in soup.find_all('td',class_='table-body__cell u-center-text'):
    match.append(i.text)
    
first=soup.find('td',class_='rankings-block__banner--matches').text
second=soup.find('td',class_='rankings-block__banner--points').text

In [111]:
matches=match[0:18:2]
matches.insert(0,first)
matches

['29', '33', '35', '32', '31', '30', '12', '30', '11', '11']

In [112]:
points=match[1:18:2]
points.insert(0,second)
points

['4,837',
 '4,046',
 '4,157',
 '3,219',
 '3,019',
 '2,768',
 '930',
 '1,962',
 '516',
 '495']

In [113]:
third=soup.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','')

rating=[]
for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
    rating.append(i.text.replace('\n',''))

rating.insert(0,third)
rating=rating[:10]
rating

['                            167                            ',
 '123',
 '119',
 '101',
 '97',
 '92',
 '78',
 '65',
 '47',
 '45']

In [114]:
ODI=pd.DataFrame({'TEAM':team[:10],'MATCH':matches,'POINTS':points,'RATING':rating})

In [115]:
ODI

,TEAM,MATCH,POINTS,RATING
0,Australia,29,"4,837",167 ...
1,England,33,"4,046",123
2,South Africa,35,"4,157",119
3,India,32,"3,219",101
4,New Zealand,31,"3,019",97
5,West Indies,30,"2,768",92
6,Bangladesh,12,930,78
7,Pakistan,30,"1,962",65
8,Ireland,11,516,47
9,Sri Lanka,11,495,45

### B)--Top 10 women’s ODI Batting players along with the records of their team and rating.

In [116]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [117]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
page=requests.get(url)
page

In [118]:
soup=BeautifulSoup(page.content,'html.parser')

In [119]:
first=soup.find('div',class_='rankings-block__banner--name-large').text
player=[]
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))
player.insert(0,first)

second=soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
team=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    team.append(i.text.replace('\n',''))
team.insert(0,second)

third=soup.find('div',class_='rankings-block__banner--rating').text
rating=[]
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text)
rating.insert(0,third)

In [120]:
ODI_TEAMS=pd.DataFrame({'PLAYER':player[:10],'TEAM':team[:10],'RATING':rating[:10]})
ODI_TEAMS

                PLAYER TEAM RATING
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

### C)-Top 10 ODI bowlers along with the records of their team and rating.

In [121]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [122]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
page=requests.get(url)
page

In [123]:
soup=BeautifulSoup(page.content,'html.parser')

In [124]:
first=soup.find('div',class_='rankings-block__banner--name-large').text.replace('\n','')
player=[]
for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
    player.append(i.text.replace('\n',''))
player.insert(0,first)

second=soup.find('div',class_='rankings-block__banner--nationality').text.replace('\n','')
team=[]
for i in soup.find_all('span',class_='table-body__logo-text'):
    team.append(i.text.replace('\n',''))
team.insert(0,second)

third=soup.find('div',class_='rankings-block__banner--rating').text.replace('\n','')
rating=[]
for i in soup.find_all('td',class_='table-body__cell rating'):
    rating.append(i.text.replace('\n',''))
rating.insert(0,third)

In [125]:
ODI_BOWLERS=pd.DataFrame({'PLAYER':player[:10],'TEAM':team[:10],'Rating':rating[:10]})
ODI_BOWLERS

                PLAYER TEAM Rating
0    Sophie Ecclestone  ENG    761
1        Jess Jonassen  AUS    725
2         Megan Schutt  AUS    722
3       Shabnim Ismail   SA    722
4       Jhulan Goswami  IND    644
5       Ayabonga Khaka   SA    634
6  Rajeshwari Gayakwad  IND    613
7      Hayley Matthews   WI    612
8      Katherine Brunt  ENG    601
9       Marizanne Kapp   SA    598

## 7-->python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

In [138]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [139]:
url='https://www.cnbc.com/world/?region=world'
page=requests.get(url)
page

In [140]:
soup=BeautifulSoup(page.content,'html.parser')

In [141]:
headline=[]
time=[]
link=[]

In [142]:
for i in soup.find_all('a',class_='LatestNews-headline'):
    headline.append(i.text)

In [143]:
len(headline)

30

In [144]:
for i in soup.find_all('span',class_='LatestNews-wrapper'):
    time.append(i.text.replace('\n',''))

In [145]:
len(time)

30

In [146]:
for i in soup.find_all('a',class_='LatestNews-headline'):
    link.append(i['href'])

In [147]:
len(link)

30

In [148]:
CNBC=pd.DataFrame({'HEADLINE':headline,'TIME':time,'NEWS_LINK':link})
CNBC

,HEADLINE,TIME,NEWS_LINK
0,NASA taps SpaceX for 5 more astronaut missions...,19 Min Ago,https://www.cnbc.com/2022/08/31/nasa-awards-sp...
1,Pro Picks: Watch all of Wednesday's big stock ...,24 Min Ago,https://www.cnbc.com/2022/08/31/pro-picks-watc...
2,Stocks making the biggest moves after hours: O...,29 Min Ago,https://www.cnbc.com/2022/08/31/stocks-making-...
3,California may get a new salary transparency l...,1 Hour Ago,https://www.cnbc.com/2022/08/31/california-may...
4,Jeremy Grantham says the worst is yet to come ...,1 Hour Ago,https://www.cnbc.com/2022/08/31/grantham-says-...
5,This portrait of Warren Buffett just sold for ...,2 Hours Ago,https://www.cnbc.com/2022/08/31/warren-buffett...
6,Microstrategy chairman Michael Saylor accused ...,2 Hours Ago,https://www.cnbc.com/2022/08/31/microstrategy-...
7,We're making a buy in this down market but als...,2 Hours Ago,https://www.cnbc.com/2022/08/31/were-making-a-...
8,Bernstein's trading strategy for internet stoc...,3 Hours Ago,https://www.cnbc.com/2022/08/31/bernsteins-tra...
9,"Despite recession fears, most 401(k) investors...",3 Hours Ago,https://www.cnbc.com/2022/08/31/despite-recess...
10,Trump lawyer Eastman takes Fifth before Georgi...,3 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyer-j...
11,These stocks are underappreciated beneficiarie...,3 Hours Ago,https://www.cnbc.com/2022/08/31/these-stocks-a...
12,Jeff Bezos reveals warning from his son for Am...,3 Hours Ago,https://www.cnbc.com/2022/08/31/jeff-bezos-son...
13,Identity scams are at an all-time high. Here a...,4 Hours Ago,https://www.cnbc.com/2022/08/31/identity-crime...
14,These bank fees could be taking a bite out of ...,4 Hours Ago,https://www.cnbc.com/2022/08/31/these-bank-fee...
15,The IRS isn't hiring an 'army' of auditors—her...,4 Hours Ago,https://www.cnbc.com/2022/08/31/irs-is-not-hir...
16,Six in 10 adults want to become a billionaire ...,4 Hours Ago,https://www.cnbc.com/2022/08/31/44percent-of-a...
17,Market headwinds could worsen as stocks enter ...,5 Hours Ago,https://www.cnbc.com/2022/08/31/market-headwin...
18,Walmart-owned Sam's Club raises annual members...,5 Hours Ago,https://www.cnbc.com/2022/08/31/walmart-sams-c...
19,Nobody wants to get ahead of September's parad...,5 Hours Ago,https://www.cnbc.com/2022/08/31/nobody-wants-t...
20,Stocks making the biggest moves midday: Expres...,5 Hours Ago,https://www.cnbc.com/2022/08/31/stocks-making-...
21,These kinds of stocks do well when recession f...,5 Hours Ago,https://www.cnbc.com/2022/08/31/these-kinds-of...
22,"8 new shows streaming on Amazon, Disney+, Netf...",5 Hours Ago,https://www.cnbc.com/2022/08/31/8-new-shows-co...
23,Florida Gov. Ron DeSantis rival Charlie Crist ...,5 Hours Ago,https://www.cnbc.com/2022/08/31/florida-gov-ro...
24,3 takeaways from the Investing Club’s ‘Morning...,5 Hours Ago,https://www.cnbc.com/2022/08/31/3-takeaways-fr...
25,"Stricter standards needed for carbon offsets, ...",6 Hours Ago,https://www.cnbc.com/2022/08/31/stricter-stand...
26,We're adding to two stocks in an oversold mark...,6 Hours Ago,https://www.cnbc.com/2022/08/31/were-adding-to...
27,"Small investors embraced market rally, Wall St...",6 Hours Ago,https://www.cnbc.com/2022/08/31/small-investor...
28,Global bonds teeter near bear market as centra...,7 Hours Ago,https://www.cnbc.com/2022/08/31/global-bonds-t...
29,Gundlach says yield curve inversions are 'reli...,8 Hours Ago,https://www.cnbc.com/2022/08/31/jeffrey-gundla...

### 8)-->a python program to scrape the details of most downloaded articles from AI in last 90 days. 
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [149]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [150]:
url='https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page=requests.get(url)
page

In [151]:
soup=BeautifulSoup(page.content,'html.parser')

In [154]:
title=[]
author=[]
date=[]
url=[]

In [155]:
for i in soup.find_all('h2',class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR'):
    title.append(i.text)

In [ ]:
title

In [157]:
for i in soup.find_all('span',class_='sc-1w3fpd7-0 pgLAT'):
    author.append(i.text)

In [ ]:
author

In [159]:
for i in soup.find_all('span',class_='sc-1thf9ly-2 bKddwo'):
    date.append(i.text)

In [ ]:
date

In [161]:
links=soup.find_all('li',class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp')
lin=[]
for i in links:
    lin.append(i.a['href'].replace('/pro/',''))

In [ ]:
lin

In [162]:
ai=pd.DataFrame({'PAPER_TITLE':title,'AUTHOR':author,'PUBLISHED_DATE':date,'PAPER_URL':lin})

In [163]:
ai

,PAPER_TITLE,AUTHOR,PUBLISHED_DATE,PAPER_URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9)-->a python program to scrape mentioned details from dineout.co.in :

In [164]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [165]:
url='https://www.dineout.co.in/delhi-restaurants/buffet-special'
page=requests.get(url)
page

In [166]:
soup=BeautifulSoup(page.content,'html.parser')

In [167]:
name=[]
cuisine=[]
location=[]
rating=[]
imageurl=[]

In [168]:
first=soup.find_all('div',class_='restnt-info cursor')
for i in first:
    name.append(i.a.text)

In [ ]:
name

In [169]:
second=soup.find_all('span',class_='double-line-ellipsis')

for i in second:
    cuisine.append(i.text.split('|')[1])

In [ ]:
cuisine

In [170]:
for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)

In [ ]:
location

In [171]:
for i in soup.find_all('div',class_='restnt-rating rating-4'):
    rating.append(i.text)

In [ ]:
rating

In [172]:
for i in soup.find_all('img',class_='no-img'):
    imageurl.append(i['data-src'])

In [ ]:
imageurl

In [173]:
dineout=pd.DataFrame({'Restaurant_Name':name,'Cuisine':cuisine,'Location':location,'Rating':rating,'Image_URL':imageurl})
dineout

,Restaurant_Name,Cuisine,Location,Rating,Image_URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

## 10--> a python program to scrape the details of top publications from Google Scholar from 
https://scholar.google.com/citations?view_op=top_venues&hl=en

In [174]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [175]:
url='https://scholar.google.com/citations?view_op=top_venues&hl=en'
page=requests.get(url)
page

In [176]:
soup=BeautifulSoup(page.content,'html.parser')

In [177]:
rank=[]
publication=[]
index=[]
median=[]

In [178]:
for i in soup.find_all('td',class_='gsc_mvt_p'):
    rank.append(i.text)
    
for i in soup.find_all('td',class_='gsc_mvt_t'):
    publication.append(i.text)
    
for i in soup.find_all('td',class_='gsc_mvt_n'):
    index.append(i.text)

In [ ]:
index

In [179]:
len(index)

200

In [181]:
h5index=index[0:200:2]
h5median=index[1:200:2]

In [ ]:
h5index

In [ ]:
h5median

In [182]:
Google=pd.DataFrame({'Rank':rank,'Publivation':publication,'h5-Index':h5index,'h5-Median':h5median})

In [183]:
Google

    Rank                                        Publivation h5-Index h5-Median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]