# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [96]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [9]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [58]:
rank=[]
name=[]
artist=[]
uploaddate=[]
view=[]

In [59]:
ranks=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[1]')
for i in ranks:
    rank.append(i.text)
names=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[2]')
for i in names:
    name.append(i.text)
artists=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[3]')
for i in artists:
    artist.append(i.text)
views=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[4]')
for i in views:
    view.append(i.text)
date=driver.find_elements(By.XPATH,'//div[@class="mw-parser-output"]/table[2]/tbody/tr/td[5]')
for i in date:
    uploaddate.append(i.text)

In [60]:
print(len(rank),len(name),len(artist),len(view),len(uploaddate))

30 30 30 30 30

In [61]:
youtube=pd.DataFrame({'Rank':rank,'Video-Name':name,'UPLOADER':artist,'VIEWS':view,'PUBLICATION-DATE':uploaddate})
youtube

,Rank,Video-Name,UPLOADER,VIEWS,PUBLICATION-DATE
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,11.40,"June 17, 2016"
1,2.,"""Despacito""[6]",Luis Fonsi,7.98,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.47,"October 8, 2016"
3,4.,"""Shape of You""[13]",Ed Sheeran,5.81,"January 30, 2017"
4,5.,"""See You Again""[15]",Wiz Khalifa,5.64,"April 6, 2015"
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.63,"May 2, 2018"
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,4.90,"March 6, 2014"
7,8.,"""Uptown Funk""[22]",Mark Ronson,4.70,"November 19, 2014"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[23]",Miroshka TV,4.65,"February 27, 2018"
9,10.,"""Gangnam Style""[24]",Psy,4.55,"July 15, 2012"
10,11.,"""Masha and the Bear – Recipe for Disaster""[29]",Get Movies,4.51,"January 31, 2012"
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,4.40,"May 24, 2018"
12,13.,"""Dame Tu Cosita""[31]",El Chombo,4.07,"April 5, 2018"
13,14.,"""Sugar""[32]",Maroon 5,3.76,"January 14, 2015"
14,15.,"""Roar""[33]",Katy Perry,3.66,"September 5, 2013"
15,16.,"""Counting Stars""[34]",OneRepublic,3.65,"May 31, 2013"
16,17.,"""Sorry""[35]",Justin Bieber,3.59,"October 22, 2015"
17,18.,"""Axel F""[36]",Crazy Frog,3.52,"June 16, 2009"
18,18.,"""Thinking Out Loud""[37]",Ed Sheeran,3.50,"October 7, 2014"
19,20.,"""Baa Baa Black Sheep""[38]",Cocomelon – Nursery Rhymes,3.38,"June 25, 2018"
20,21.,"""Dark Horse""[39]",Katy Perry,3.35,"February 20, 2014"
21,22.,"""Faded""[40]",Alan Walker,3.34,"December 3, 2015"
22,23.,"""Girls Like You""[41]",Maroon 5,3.33,"May 31, 2018"
23,24.,"""Let Her Go""[42]",Passenger,3.30,"July 25, 2012"
24,25.,"""Bailando""[43]",Enrique Iglesias,3.27,"April 11, 2014"
25,26.,"""Lean On""[44]",Major Lazer,3.26,"March 22, 2015"
26,27.,"""Perfect""[45]",Ed Sheeran,3.26,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[46]",Shakira,3.25,"June 4, 2010"
28,29.,"""Shake It Off""[47]",Taylor Swift,3.21,"August 18, 2014"
29,30.,"""Humpty the train on a fruits ride""[48]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.17,"January 26, 2018"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [97]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [98]:
#open website
driver.get('https://www.bcci.tv/')

In [70]:
#click on internation button
driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a').click()

In [71]:
#click on fixture button
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div/ul/li[1]/a').click()

In [92]:
title=[]
series=[]
place=[]
date=[]
time=[]

In [93]:
titles=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
try:
    for i in titles:
        title.append(i.text.replace('-',''))
except NoSuchElementException:
    title.append('-')
Series=driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
try:
    for i in Series:
        series.append(i.text.replace('\n',''))
except NoSuchElementException:
    series.append('-')
places=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
try:
    for i in places:
        place.append(i.text)
except NoSuchElementEcxception:
    place.append('-')
dates=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
try:
    for i in dates:
        date.append(i.text)
except NoSuchElementException:
    date.append('-')
times=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
try:
    for i in times:
        time.append(i.text)
except NoSuchElementException:
    time.append('-')

In [94]:
bcci=pd.DataFrame({'TITLE':title,'SERIES':series,'PLACE':place,'DATE':date,'TIME':time})
bcci

,TITLE,SERIES,PLACE,DATE,TIME
0,1st ODI,IndiavsSouth Africa,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,6 OCT 2022,2:00 PM IST
1,4th T20I,India WomenvsPakistan Women,"Sylhet International Cricket Stadium,",7 OCT 2022,1:00 PM IST
2,5th T20I,India WomenvsBangladesh Women,"Sylhet International Cricket Stadium,",8 OCT 2022,1:00 PM IST
3,2nd ODI,IndiavsSouth Africa,"JSCA International Stadium Complex,",9 OCT 2022,1:30 PM IST
4,6th T20I,India WomenvsThailand Women,"Sylhet International Cricket Stadium,",10 OCT 2022,1:00 PM IST
5,3rd ODI,IndiavsSouth Africa,"Arun Jaitley Stadium,",11 OCT 2022,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [16]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [17]:
#open chrome browser
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [18]:
#getting website
driver.get('https://www.guru99.com/')

In [19]:
#click on selenium
driver.find_element(By.XPATH,'//ul[@class="menu1"]/li[3]').click()

In [22]:
#click on selenium exception
driver.find_element(By.XPATH,'//table[@class="table"][5]/tbody/tr[34]/td').click()

In [23]:
name=[]
description=[]

In [24]:
#scrap name details by spliting function
for i in driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p'):
    if 'Exception:'in i.text:
        name.append(i.text.split(" ",2)[1])
        
#scrap description details by ussing spliting
for i in driver.find_elements(By.XPATH,'//div[@class="entry-content single-content"]/p'):
    if 'Exception:'in i.text:
        description.append(i.text.split(" ",2)[2])

In [25]:
selenium=pd.DataFrame({'Name':name,'Description':description})
selenium

,Name,Description
0,ElementNotVisibleException:,This type of Selenium exception occurs when an...
1,ElementNotSelectableException:,This Selenium exception occurs when an element...
2,NoSuchElementException:,This Exception occurs if an element could not ...
3,NoSuchFrameException:,This Exception occurs if the frame target to b...
4,NoAlertPresentException:,This Exception occurs when you switch to no pr...
5,NoSuchWindowException:,This Exception occurs if the window target to ...
6,StaleElementReferenceException:,This Selenium exception occurs happens when th...
7,SessionNotFoundException:,The WebDriver is acting after you quit the bro...
8,TimeoutException:,Thrown when there is not enough time for a com...
9,WebDriverException:,This Exception takes place when the WebDriver ...
10,ConnectionClosedException:,This type of Exception takes place when there ...
11,ElementClickInterceptedException:,The command may not be completed as the elemen...
12,ElementNotInteractableException:,This Selenium exception is thrown when any ele...
13,ErrorInResponseException:,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException:,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException:,This expectation will occur when IME engine ac...
16,ImeNotAvailableException:,It takes place when IME support is unavailable.
17,InsecureCertificateException:,Navigation made the user agent to hit a certif...
18,InvalidArgumentException:,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException:,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException:,This type of Exception matches an interacting ...
21,InvalidElementStateException:,It occurs when command can’t be finished when ...
22,InvalidSessionIdException:,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException:,This occurs when the frame or window target to...
24,JavascriptException:,This issue occurs while executing JavaScript g...
25,JsonException:,It occurs when you afford to get the session w...
26,NoSuchAttributeException:,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException:,It takes place if the target provided to the A...
28,NoSuchContextException:,ContextAware does mobile device testing.
29,NoSuchCookieException:,This Exception occurs when no cookie matching ...
30,NotFoundException:,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException:,This Selenium exception is thrown when the ser...
32,ScreenshotException:,It is not possible to capture a screen.
33,SessionNotCreatedException:,It happens when a new session could not be suc...
34,UnableToSetCookieException:,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException:,Happens if a support class did not get a web e...
36,UnhandledAlertException:,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException:,It occurs when there is the appearance of an u...
38,UnknownMethodException:,This Exception happens when the requested comm...
39,UnreachableBrowserException:,This Exception occurs only when the browser is...
40,UnsupportedCommandException:,This occurs when remote WebDriver doesn’t send...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [34]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [35]:
#open chrome browser
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [36]:
driver.get('https://www.statisticstimes.com/')

In [37]:
#click on economy to fetch more details
driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/button/i').click()

In [38]:
#click on country economy
driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]').click()

In [39]:
#click on GDP of indian states
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [40]:
rank=[]
state=[]
gsdp19_20=[]
gsdp18_19=[]
share18_19=[]
billion=[]

In [41]:
#scrap ranking
ranks=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
try:
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
    
#scrap name of states
states=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
try:
    for i in states:
        state.append(i.text)
except NoSuchElementException:
    state.append('-')
    
#scrap GSDP of 19-20
gsdps=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
try:
    for i in gsdps:
        gsdp19_20.append(i.text)
except NoSuchElementException:
    gsdp19_20.append('-')
    
#scrap GSDP of 18-19
gsdpss=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
try:
    for i in gsdpss:
        gsdp18_19.append(i.text)
except NoSuchElementException:
    gsdp18_19.append('-') 
    
#scrap share of 18-19
shares=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
try:
    for i in shares:
        share18_19.append(i.text)
except NoSuchElementException:
    share18_19.append('-')

#scrap GDP in billion
billions=driver.find_elements(By.XPATH,'//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
try:
    for i in billions:
        billion.append(i.text)
except NoSuchElementException:
    billion.append('-')

In [42]:
#creating dataframe of data
economy=pd.DataFrame({'Rank':rank,'States-Name':state,'GSDP 19-20':gsdp19_20,'GSDP 18-19':gsdp18_19,'Share 18-19':share18_19,'GDP in Billion':billion})
economy

,Rank,States-Name,GSDP 19-20,GSDP 18-19,Share 18-19,GDP in Billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://github.com/')

In [4]:
driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/button').click()

In [5]:
#click on trending
driver.find_element(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]/div/ul[3]/li[3]').click()

In [6]:
url=[]
contributor=[]
language=[]
title=[]
description=[]

In [7]:
titles=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
try:
    for i in titles:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')

In [8]:
descriptions=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
try:
    for i in descriptions:
        description.append(i.text)
except:
    description.append('-')

In [9]:
urls=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in urls:
    url.append(i.get_attribute('href'))

In [10]:
for i in url:
    driver.get(i)
    time.sleep(2)
    #scrap contributor
    try:
        contributors=driver.find_element(By.XPATH,'//h2[@class="h4 mb-3"]/a/span')
        contributor.append(contributors.text)
    except:
        contributor.append('-')
        
    #scrap language used
    try:
        languages=driver.find_element(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div[6]/div/ul')
        language.append(languages.text)
    except:
        language.append('-')

In [11]:
print(len(title),len(description),len(contributor),len(language),len(url))

25 25 25 25 25

In [12]:
github=pd.DataFrame({'Repository-Title':title,'Repository-Description':description,len('Language-Used'):language,'Contributor':contributor,'URLS':url})
github

,Repository-Title,Repository-Description,13,Contributor,URLS
0,libsql / libsql,libSQL is a fork of SQLite that is both Open S...,C\n86.1%\nTcl\n6.5%\nJavaScript\n2.1%\nShell\n...,,https://github.com/libsql/libsql
1,remoteintech / remote-jobs,A list of semi to fully remote-friendly compan...,-,674,https://github.com/remoteintech/remote-jobs
2,psf / black,The uncompromising Python code formatter,-,23,https://github.com/psf/black
3,facebookincubator / AITemplate,AITemplate is a Python framework which renders...,-,9,https://github.com/facebookincubator/AITemplate
4,net4people / bbs,Forum for discussing Internet censorship circu...,Python\n100.0%,,https://github.com/net4people/bbs
5,xcad2k / cheat-sheets,This is my personal knowledge-base. Here you'l...,-,12,https://github.com/xcad2k/cheat-sheets
6,snaplet / postgres-wasm,A PostgresQL server running in your browser,-,8,https://github.com/snaplet/postgres-wasm
7,shubhamgrg04 / awesome-diagramming,A curated collection of diagramming tools used...,-,,https://github.com/shubhamgrg04/awesome-diagra...
8,deepset-ai / haystack,🔍 Haystack is an open source NLP framework tha...,-,21,https://github.com/deepset-ai/haystack
9,palera1n / palera1n,"iOS 15.0-15.3.1 tethered checkm8 ""jailbreak"" (...",-,8,https://github.com/palera1n/palera1n
10,SecureAuthCorp / impacket,Impacket is a collection of Python classes for...,-,12,https://github.com/SecureAuthCorp/impacket
11,pola-rs / polars,Fast multi-threaded DataFrame library in Rust ...,,10,https://github.com/pola-rs/polars
12,sourcegraph / sourcegraph,Universal code search (self-hosted),-,21,https://github.com/sourcegraph/sourcegraph
13,public-apis / public-apis,A collective list of free APIs,-,"1,267",https://github.com/public-apis/public-apis
14,sqlfluff / sqlfluff,A SQL linter and auto-formatter for Humans,-,66,https://github.com/sqlfluff/sqlfluff
15,huggingface / datasets,🤗 The largest hub of ready-to-use datasets for...,Python\n91.8%\nJupyter Notebook\n8.0%\nOther\n...,56,https://github.com/huggingface/datasets
16,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,Shell\n97.8%\nMakefile\n1.3%\nOther\n0.9%,60,https://github.com/nvm-sh/nvm
17,gradio-app / gradio,Create UIs for your machine learning model in ...,Python\n61.6%\nTypeScript\n14.3%\nSvelte\n9.5%...,40,https://github.com/gradio-app/gradio
18,helm / helm,The Kubernetes Package Manager,Go\n97.6%\nShell\n1.9%\nMakefile\n0.5%,163,https://github.com/helm/helm
19,wagtail / wagtail,A Django content management system focused on ...,-,188,https://github.com/wagtail/wagtail
20,microsoft / PowerToys,Windows system utilities to maximize productivity,-,69,https://github.com/microsoft/PowerToys
21,copy / v86,"x86 virtualization in your browser, recompilin...",-,62,https://github.com/copy/v86
22,torvalds / linux,Linux kernel source tree,C\n98.5%\nAssembly\n0.8%\nShell\n0.3%\nMakefil...,,https://github.com/torvalds/linux
23,zhanwen / MathModel,研究生数学建模，本科生数学建模、数学建模竞赛优秀论文，数学建模算法，LaTeX论文模板，算法...,TeX\n83.4%\nMATLAB\n13.1%\nM\n3.5%,,https://github.com/zhanwen/MathModel
24,community / community,Public feedback discussions for: GitHub Mobile...,-,17,https://github.com/community/community

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https:/www.billboard.com/')

In [4]:
#click on chart
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()

In [5]:
#click on hot 100 
driver.find_element(By.XPATH,'//div[@class="js-Header-contents"]/div[3]/div/nav/ul/li[1]').click()

In [6]:
rank=[]
ranks=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[1]/span[1]')
for i in ranks:
    try:
        rank.append(i.text)
    except:
        rank.append('-')

In [7]:
len(rank)

100

In [8]:
song=[]
songs=driver.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3[1]')
for i in songs:
    try:
        song.append(i.text)
    except:
        song.append('-')

In [9]:
len(song)

100

In [10]:
artist=[]

In [11]:

artists=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span[1]')
for i in artists:
    try:
        artist.append(i.text)
    except:
        artist.append('-')

In [13]:
len(artist)

100

In [14]:
#scrap last week rank
last=[]
weeks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')
for i in weeks:
    last.append(i.text)

In [15]:
#scrap peak rank
peak=[]
peaks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')
for i in peaks:
    peak.append(i.text)

In [16]:
week=[]
weeks=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')
for i in weeks:
    week.append(i.text)

In [17]:
billboard=pd.DataFrame({'Rank':rank,'SONG-NAME':song,'Artist-Name':artist,'LAST-WEEK-RANK':last,'PEAK-rank':peak,'WEEKS-ON-BOARD':week})
billboard

,Rank,SONG-NAME,Artist-Name,LAST-WEEK-RANK,PEAK-rank,WEEKS-ON-BOARD
0,1,Bad Habit,Steve Lacy,1,1,14
1,2,Unholy,Sam Smith & Kim Petras,3,2,2
2,3,As It Was,Harry Styles,2,1,27
3,4,I Like You (A Happier Song),Post Malone Featuring Doja Cat,4,3,18
4,5,Sunroof,Nicky Youre & dazy,5,4,19
...,...,...,...,...,...,...
95,96,Gotta Move On,Diddy & Bryson Tiller,-,96,1
96,97,Forget Me,Lewis Capaldi,-,97,1
97,98,Down Home,Jimmie Allen,100,98,2
98,99,What He Didn't Do,Carly Pearce,-,99,1
99,100,Talk,Yeat,93,42,5

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [23]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [24]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [25]:
driver.get('https://www.naukri.com/')

In [26]:
#write in seasrch box
search=driver.find_element(By.XPATH,'//input[@class="suggestor-input "]')
search.send_keys('Data Science')

In [27]:
#select data science
driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]').click()

In [28]:
name=[]
names=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in names:
    try:
        name.append(i.text)
    except:
        name.append('-')

In [29]:
designation=[]
designations=driver.find_elements(By.XPATH,'//div[@class="info fleft"]/a')
for i in designations:
    try:
        designation.append(i.text)
    except:
        designation.append('-')

In [30]:
skill=[]
skills=driver.find_elements(By.XPATH,'//ul[@class="tags has-description"]')
for i in skills:
    try:
        skill.append(i.text.replace('\n',','))
    except:
        skill.append('-')

In [31]:
location=[]
locations=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in locations:
    try:
        location.append(i.text)
    except:
        location.append('-')

In [32]:
data=pd.DataFrame({'NAME':name,'Designation':designation,'Skill':skill,'Location':location})
data

,NAME,Designation,Skill,Location
0,Transunion,"Senior Analyst, Data Science & Analytics","IT Skills,Python,Machine Learning,Cloud,Projec...",Pune
1,Phenom placement,Manager/Senior Manager - Data Science - BPO,"Data Science,BPO,travel,NLP,SAS,Statistical Mo...",Mumbai
2,Peak,Data Science Team Lead,"Loans,data science,Employee engagement,Machine...",Pune
3,Transunion,Manager Data Science and Analytics,"C++,Operations research,Operational excellence...",Pune
4,ACODS,Data Science Consultant / Trainer,"Data Science,data analytics,deep learning,Natu...",Noida
5,HyrEzy Talent Solutions,Head - Data Science - Fintech,"Data Science,Data Scientist,Data Management,IT...",New Delhi
6,Huquo Consulting Pvt. Ltd,Associate Vice President - Data Science Team -...,"data engineering,Data Science,Consulting - BFS...","Gurgaon/Gurugram, Delhi / NCR"
7,Giri Consultancy,Data Science Trainer,"Data Science,Data Analytics,Deep Learning,Mach...","Temp. WFH - Noida, Gurgaon/Gurugram, Delhi / NCR"
8,ANZ,Data Science Engineer 5.1,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
9,ANZ,Data Science Engineer 4.4,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
10,ANZ,Data Science Engineer 4.3,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
11,ANZ,Data Science Engineer 5.1,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
12,ANZ,Data Science Engineer 4.4,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
13,ANZ,Data Science Engineer 4.3,"Statistical modeling,Data management,data scie...",Bangalore/Bengaluru
14,Huquo Consulting Pvt. Ltd,Consultant/Senior Manager - Analytics/Data Sci...,"Analytics,Python,SpaCity,analytical,R,Manageme...","Gurgaon/Gurugram, Bangalore/Bengaluru"
15,Huquo Consulting Pvt. Ltd,Consultant/Senior Manager - Analytics/Data Sci...,"Data Science,Management consulting,Pytorch,Mac...","Gurgaon/Gurugram, Bangalore/Bengaluru"
16,Citiustech,Assistant Manager - Data Science,"Data Science,NLP,Machine Learning,Deep Learnin...","Hybrid - Mumbai, Pune, Bangalore/Bengaluru"
17,H K Jewels,Data Science Analyst (From FMCG Ind.)and Sales...,"SAP,Data Management,Data Analysis,Data Analyti...",Mumbai
18,Fidelity IT Jobs,Sr. Data Scientist- Advanced Analytics/Data Sc...,"Data Science,R,Scala,Data Management,Advanced ...",Gurgaon/Gurugram
19,Huquo Consulting Pvt. Ltd,Senior Vice President - Analytics - Data Scien...,"Analytics,Data Science,Artificial Intelligence...",Gurgaon/Gurugram

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [18]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [19]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [21]:
#scrap ranking
rank=[]
ranks=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[1]')
for i in ranks:
    try:
        rank.append(i.text)
    except:
        rank.append('-')

#scrap book name
title=[]
titles=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[2]')
for i in titles:
    try:
        title.appned(i.text)
    except:
        title.append('-')
#scrap author name
author=[]
authors=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[3]')
for i in authors:
    try:
        author.append(i.text)
    except:
        author.append('-')
        
#scrap volumes sold
sold=[]
solds=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[4]')
for i in solds:
    try:
        sold.append(i.text)
    except:
        sold.append('-')
        
#scrap publisher name
publisher=[]
publishers=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[5]')
for i in publishers:
    try:
        publisher.append(i.text)
    except:
        publisher.append('-')
        
#scrap genre
genre=[]
genres=driver.find_elements(By.XPATH,'//div[@class="embed block"]/table/tbody/tr/td[6]')
for i in genres:
    try:
        genre.append(i.text)
    except:
        genre.append('-')

In [22]:
novel=pd.DataFrame({'RANK':rank,'BOOK-NAME':title,'AUTHOR-NAME':author,'VOLUME-SOLD':sold,'PUBLISHER':publisher,'GENRE':genre})
novel

,RANK,BOOK-NAME,AUTHOR-NAME,VOLUME-SOLD,PUBLISHER,GENRE
0,1,-,"Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,2,-,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,3,-,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,4,-,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,5,-,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,-,"Harris, Robert","807,311",Random House,General & Literary Fiction
96,97,-,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,98,-,"Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,99,-,"Pelzer, Dave","791,507",Orion,Biography: General
99,100,-,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [4]:
name=[]

In [5]:
names=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
for i in names:
    try:
        name.append(i.text)
    except:
        name.append('-')

In [6]:
len(name)

100

In [7]:
year=[]
years=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
for i in years:
    try:
        year.append(i.text)
    except:
        year.append('-')

In [8]:
len(year)

100

In [9]:
genre=[]
genres=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genres:
    try:
        genre.append(i.text)
    except:
        genre.append('-')

In [10]:
len(genre)

100

In [11]:
time=[]
times=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in times:
    try:
        time.append(i.text)
    except:
        time.append(i.text)

In [12]:
len(time)

100

In [13]:
rating=[]
rate=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
for i in rate:
    try:
        rating.append(i.text)
    except:
        rating.append('-')

In [14]:
len(rating)

100

In [15]:
vote=[]
votes=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"][3]/span[2]')
for i in votes:
    try:
        vote.append(i.text)
    except:
        vote.append('-')

In [16]:
len(vote)

100

In [17]:
imdb=pd.DataFrame({'NAME':name,'YEAR-SPAN':year,'GENRE':genre,'RUN-TIME':time,'RATING':rating,'VOTES':vote})
imdb

,NAME,YEAR-SPAN,GENRE,RUN-TIME,RATING,VOTES
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,063,394"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,156,687"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"973,186"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"290,098"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"249,468"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,719"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,786"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"195,689"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,178"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"238,586"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [18]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [19]:
driver=webdriver.Chrome(r"C:\Users\singh\Downloads\chromedriver_win32\chromedriver.exe")

In [20]:
driver.get('https://archive.ics.uci.edu/ml/index.php')

In [21]:
#click view all data set
driver.find_element(By.XPATH,'/html/body/table[2]/tbody/tr/td/span/b/a').click()

In [22]:
name=[]
data=[]
task=[]
attributetype=[]
no_instance=[]
no_attribute=[]
year=[]

In [23]:

for i in range(1,600):
    
    names=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        try:
            name.append(i.text)
        except:
            name.append('-')
            
for i in range(1,600):
    datas=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[2]/p")
    for i in datas:
        try:
            data.append(i.text)
        except:
            data.append('-')
            
for i in range(1,600):
    tasks=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[3]/p")
    for i in tasks:
        try:
            task.append(i.text)
        except:
            task.append('-')
            
for i in range(1,600):
    attributes=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
    for i in attributes:
        try:
            attributetype.append(i.text)
        except:
            attributetype.append('-')

for i in range(1,600):
    no_instances=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[5]/p")
    for i in no_instances:
        try:
            no_instance.append(i.text)
        except:
            no_instance.append('-')
            
for i in range(1,600):
    no_attributes=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[6]/p")
    for i in no_attributes:
        try:
            no_attribute.append(i.text)
        except:
            no_attribute.append('-')
for i in range(1,600):
    years=driver.find_elements(By.XPATH,f"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[{i}]/td[7]/p")
    for i in years:
        try:
            year.append(i.text)
        except:
            year.append('-')

In [24]:
print(len(name),len(data),len(task),len(attributetype),len(no_instance),len(no_attribute),len(year))

598 599 599 599 599 599 599

In [25]:
repository=pd.DataFrame({'NAME':name,'DATA-TYPE':data[598],'Task':task[598],'Attribute-Type':attributetype[598],'No-Of-Instance':no_instance[598],'No-Of-Attribute':no_attribute[598],'Year':year[598]})
repository

,NAME,DATA-TYPE,Task,Attribute-Type,No-Of-Instance,No-Of-Attribute,Year
0,Abalone,Multivariate,Classification,8,900,8,2021
1,Adult,Multivariate,Classification,8,900,8,2021
2,Annealing,Multivariate,Classification,8,900,8,2021
3,Anonymous Microsoft Web Data,Multivariate,Classification,8,900,8,2021
4,Arrhythmia,Multivariate,Classification,8,900,8,2021
...,...,...,...,...,...,...,...
593,Pedal Me Bicycle Deliveries,Multivariate,Classification,8,900,8,2021
594,Turkish Headlines Dataset,Multivariate,Classification,8,900,8,2021
595,Secondary Mushroom Dataset,Multivariate,Classification,8,900,8,2021
596,Power consumption of Tetouan city,Multivariate,Classification,8,900,8,2021
597,Raisin Dataset,Multivariate,Classification,8,900,8,2021